.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login input {
    width: 40rem;
}

.login p {
    color: #aaa;
}

.create_account p {
    text-align: left;
}

@media (max-width: 850px) {
    .login input {
        width: 20rem;
    }
}
