.create_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create_post {
    text-align: center;
}

.create_post h2 {
    font-size: 2.2em;
}

.create_post p {
    color: #aaa;
    margin-bottom: 2em;
}

@media (max-width: 1285px) {
    .create_post input,
    textarea {
        width: 40rem;
    }
}

@media (max-width: 850px) {
    .create_post input,
    textarea {
        width: 20rem;
    }

    .create_post {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
